body{background-color: #f0fff1; text-align:center;}
img { max-width: 100%; text-align:center;}
 .section { margin-bottom: 40px; }
 .container { max-width: 900px; 
 margin: auto; }
 p{1. 320g di riso Carnaroli
2. 1 bustina di zafferano
3. 1 litro di brodo vegetale
4. 1/2 cipolla
5. 40g di burro
6. 50g di Parmigiano Reggiano
7. 1 bicchiere di vino bianco
 8. Sale q.b.}